.service__section {
    height: auto;
    padding: 0 !important;
    margin-bottom: 100px;
}

.services__great__wrapper {
    padding: 100px 0px;
    height: 100%;
    width: 100% !important;
    background-color: #f8f7fc;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.services__great__wrapper .card {
    z-index: 9999999999999;
}

.smallHeading {
    font-size: 1.2rem;
    font-weight: 800;
    color: #e8595b;
    margin: 0;
}

.largeHeading {
    font-size: 2.2rem;
    font-weight: 800;
    color: #180c32;
}

ul {
    list-style-type: none;
}

.serviceCard .svg-inline--fa {
    color: red;
}

.servicesDetailsButton {
    border: 1px solid #4140a6;
    background: #4140a6;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    margin-top: 50px;
    width: 100%;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease-in-out;
}

.servicesButton {
    border: 3px solid #ff4e54;
    background: #ff4e54;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    margin-top: 50px;
    width: 100%;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease-in-out;
}

.service_3 .servicesDetailsButton {
    border: 1px solid white;
    background: white;
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    margin-top: 50px;
    width: 100%;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease-in-out;
}

.servicesButton:hover {
    background-color: transparent;
    border: 3px solid #ff4e54;
    color: #180c32;
}

.servicesDetailsButton:hover {
    background-color: transparent;
    border: 3px solid #4140a6;
    color: #180c32;
}

.serviceCard {
    min-height: 550px;
    max-height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
    border-radius: 30px !important;

}

.servicesButton .svg-inline--fa {
    color: white;
}

.servicesButton:hover.servicesButton .svg-inline--fa {
    color: black;
}

.service_3 .servicesButton:hover.servicesButton .svg-inline--fa {
    color: white;
}

.serviceButtonsWrapper {
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 20px;

}

.service__title {
    color: #180c32;
    font-size: 2rem;
    font-weight: 800;
}

.serviceLists {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_3 {
    background-color: #4140a6 !important;

}

.service_3 .servicesDetailsButton:hover {
    background-color: transparent;
    border: 3px solid white;
    color: white;
}

.service_3 .service__title {
    color: white;
}

.service_3 .service__description {
    color: #b8b7bc;
}

.service_3 ul {
    color: #b8b7bc;
}

.service_3 .servicesButton:hover {
    background-color: transparent;
    color: white;
}


li {
    font-size: 1.2rem;
    font-weight: 600;
}

.service_1,
.service_2 {
    border: none !important;
}

.servicePrice {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 10px 0px;

}

.service_3 .servicePrice {
    color: white;

}

.servicePrice .price {
    font-weight: 800;
    font-size: 2rem;
    color: #e8595b;
    margin-left: 5px;
}

@media only screen and (max-width:980px) {
    .serviceCard {
        min-height: 550px;

    }

}