.navbar-light .navbar-nav .nav-link {
    color: #3e3353 !important;
    font-size: 1rem !important;
    font-weight: 800;
}



.signinButton {
    border: 1px solid #ff4e54;
    text-decoration: none !important;
    background: #ff4e54;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.signinButton:hover {
    background-color: rgba(255, 78, 84, 0.5);
    border: 1px solid rgba(255, 78, 84, 0.5);
    color: white;

}



.navbar-light .navbar-nav .nav-link {
    margin-left: 30px !important;
    transition: all 0.3s ease-in-out;
}

.navbar-light .navLinks.navbar-nav .nav-link:hover {
    color: #fe4f54 !important;
}

.navbar-light .navLinks.navbar-nav .nav-link.active,
.navbar-light .navLinks.navbar-nav .show>.nav-link {

    color: #fe4f54 !important;
}

.dropdown-menu {

    border: 0px !important;
    padding: 10px 15px;

}

.dropdown-toggle::after {
    display: none !important;
}

.navBrand {
    font-size: 2rem !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}


@media only screen and (max-width: 480px) {
    .navbarLogo {

        width: 70%;
    }
}