.banner__main__wrapper {
    height: 70vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%), url('../Assets/header-image-2.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    /* background: linear-gradient(90deg, #fff 0%, transparent 53%); */
}

.banner__text__wrapper {
    color: white;
    width: 50%;
}

.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.banner__top__header {
    color: #ffff;
    font-size: 4rem;
    font-weight: 800;
    line-height: 40px;
}

.banner__top__header span {
    color: #ff4e54;
    display: inline-block;
    margin-left: 15px;
}

.banner__small__header {
    color: #b8b7bc;
}

.bannerButton {
    border: 1px solid #ff4e54;
    background: #ff4e54;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    width: 50%;
    transition: background-color 0.3s ease-in-out;
}

.bannerButton:hover {
    background-color: transparent;
}

@media only screen and (max-width:480px) {
    .banner__top__header {

        font-size: 2.3rem;
        line-height: 20px;
    }

    .bannerButton {

        width: 100%;

    }

    .banner__text__wrapper {
        color: white;
        width: 100%;
    }


}

@media only screen and (max-width:980px) {

    .banner__text__wrapper {
        color: white;
        width: 100%;
    }


}